<!-- <!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
 -->
 <html>
  <head>
    <link rel="icon"   href="assets/zeco.ico"  type="image/x-icon"  /> 
    <link rel="Shortcut Icon" href="assets/zeco.ico"  type="image/x-icon" />  
    <link rel="stylesheet" href="/css/user.css">
  </head>
   

  <body>

<div class="constructing-wrapper">
  <div class="center-title">
    <p class="big-title">Constructing,please wait...</p>
  </div>
</div>

   

  </body>

</html>